<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title class="wdotext"><i class="fa fa-arrow-left"></i> Мой рейтинг</ion-title>
    <ion-buttons slot="end" routerLink="/tabs/share">
        <i class="fa fa-share-alt wdobtn" style="font-size:22px;"></i>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="ion-margin-top">   
    <ion-row class="ion-margin-top">
      <ion-col size="3" offset="1">
        <div class="ion-text-left">
          <img class="shareicon" src="./assets/img/user.png"><br>
        </div>
      </ion-col>
      <ion-col  >
        <b>Игорь Матвеев</b><br>
        
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col size="12" class="ion-text-center">
          <b>Оценка исполнителя</b> 
      </ion-col>
      
    </ion-row>
    <ion-row class="">
      <ion-col size="5" offset="1" >
          Скорость выполнения работ 
      </ion-col>
      <ion-col size="6">
          <app-explore-container></app-explore-container>
      </ion-col> 
    </ion-row>
    <ion-row class="">
      <ion-col size="5" offset="1" >
          Качество выполнения работ 
      </ion-col>
      <ion-col size="6">
          <app-explore-container></app-explore-container>
      </ion-col> 
    </ion-row>
    <ion-row class="">
      <ion-col size="5" offset="1" >
          Внешний вид исполнителя
      </ion-col>
      <ion-col size="6">
          <app-explore-container></app-explore-container>
      </ion-col> 
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="12">
         <b>Общий рейтинг</b> 
      </ion-col> 
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="12">
          <app-explore-container></app-explore-container>
      </ion-col> 
    </ion-row>
  </ion-grid>   
</ion-content>
