<app-backbtn>{{pagename}}</app-backbtn>

<ion-content fullscreen>
  <ion-grid class="ion-margin-top">   
    <ion-row class="ion-margin-top">
      <ion-col size="3" offset="1">
        <div class="ion-text-left">
          <img class="shareicon" src="./assets/img/user.png"><br>
        </div>
      </ion-col>
      <ion-col  >
        <b>Игорь Матвеев</b><br>
        <span class="wdotext">Исполнитель</span>
        <app-explore-container></app-explore-container>
        <!--<app-rating [(rating)]="rating" ></app-rating>-->
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col size="10" offset="1" >
        <div class="">
          <p><b>Адрес </b> <span>Хрещатик 21, Киев, Украина</span></p>
          <b>Дата рождения </b> <span>11 ноября 1997 г.</span><br>
          <b>Мой Email </b> <span>av@corp2.net</span><br>
          <b>Мой телефон </b> <span>098 054 45 65</span><br>
          <b>Моя банковская карта </b> <img src="./assets/img/privat.png">
        </div>
      </ion-col>
      
    </ion-row>
    <ion-row class="ion-align-self-center">
        <ion-col class="ion-margin-top">
          <div class="ion-text-center" >    
            <ion-button class="primary" style="width:70%" shape="round" routerLink="/tabs/regisp">Изменить данные</ion-button>
          </div>
        </ion-col>
    </ion-row>
    <ion-row class="">
      <ion-col size="10" offset="1" >
        <div class="">
          <b>Взятые мной заказы <span class="wdotext">(5)</span></b> 
        </div>
      </ion-col>
      
    </ion-row>
  </ion-grid>   
</ion-content>
