<app-backbtn>{{pagename}}</app-backbtn>

<ion-content fullscreen>
    <ion-grid class="ion-margin-top">   
      
      <ion-row *ngFor="let ch of chats" [routerLink]="['/tabs/chat-detail/', ch.another_user]">
      
        <ion-col size="1"  >
            
          </ion-col>
        <ion-col size="3"  >
          <div class="ion-text-left">
            <div class="taskdiv" >
              <img class="taskicon ion-text-center" src="https://willdo.com.ua/{{ch.photo}}"><br>
            </div>
            
          </div>
        </ion-col>
        
        <ion-col size="8" >       
          <b class=""> {{ch.name}}</b><br>
          
          <span class="">{{ch.datecreate}} </span><br>
        </ion-col>
        
        <hr>
      
      
    </ion-row>
    </ion-grid>   
  </ion-content>
