<app-backbtn>{{pagename}}</app-backbtn>

<ion-content fullscreen>
  <ion-grid class="">   
    <form (ngSubmit)="orderForm()">
      <ion-row class="ion-text-center">
              <ion-col class="ion-text-center" offset="1">
                <div class="ion-text-center" >
                  <ion-input class="roundleft2" (ionInput)="hideCat()" [(ngModel)]="reg.task_name" name="task_name" type="text" placeholder="Поиск по ключевым словам"></ion-input>
                </div>
              </ion-col>
              <ion-col class="ion-text-center">
                <div class="ion-text-center" >  
                  <ion-button class="primary roundright"  shape="round" [routerLink]="['/tabs/chooseworker']">  Искать</ion-button>
                </div>
              </ion-col>
      </ion-row>
      
      <ion-row class="">
        <ion-col size="9" offset="1">
          <ion-input type="text" required placeholder="Город, адрес, метро, район" [(ngModel)]="reg.task_address" name="task_address"></ion-input>
        </ion-col>
        <ion-col size="1">
          <ion-icon class="delinp" (click)="cleanTaskaddress()" name="close-outline"></ion-icon>
        </ion-col>
      </ion-row>  
      <ion-row class="">
        <ion-col size="9" offset="1">
          <ion-input type="text" required placeholder="Радиус поиска" [(ngModel)]="reg.distance" name="distance"></ion-input>
        </ion-col>
        <ion-col size="1">
          <ion-icon class="delinp" (click)="cleanTypelink()" name="close-outline"></ion-icon>
        </ion-col>
      </ion-row>  
      <ion-row class="">
        <ion-col size="9" offset="1">
          <ion-input type="text" required placeholder="Дата публикации объявления" [(ngModel)]="reg.datecreate" name="datecreate"></ion-input>
        </ion-col>
        <ion-col size="1">
          <ion-icon class="delinp" (click)="cleanBeginprice()" name="close-outline"></ion-icon>
        </ion-col>
      </ion-row>  
      <ion-row class="ion-align-self-center">
        <ion-col class="">
          <div class="ion-text-center" >    
            <ion-button class="primary" type="submit" style="width:70%" shape="round" >Сортировать</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>

    <ion-row class="ion-margin-top" *ngFor="let order of orders">
      <ion-col size="2" >
        <div class="ion-text-center roundwhite">
          <ion-icon name="heart-outline" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="2" >
        <div class="ion-text-left">
          <img class="shareicon" src="https://willdo.com.ua/{{order.photo}}"><br>
        </div>
      </ion-col >
      <ion-col size="8" >       
      
        <span class="smalltext">Специалист</span>
        <b class="smalltext"> {{order.name}}</b>
        <app-explore-container></app-explore-container>
        <div class="ion-text-center" >
          <ion-button class="primary" style="width:100%" shape="round" [routerLink]="['/tabs/chooseworker-detail/', wk.user_id]" routerDirection="forward">Связаться</ion-button>

          <!-- <ion-button class="primary" style="width:100%" shape="round" (click)="goToProductDetails(wk.user_id)"  >Связаться</ion-button> -->
        </div>
      </ion-col>
      <ion-col size="1">
      </ion-col>
      <hr>
    </ion-row>
  </ion-grid>   
</ion-content>
