<app-backbtn>{{pagename}}</app-backbtn>

<ion-content fullscreen>
  <ion-grid class="">   
    <form (ngSubmit)="searchOrders()">
      <ion-row class="ion-text-center">
              <ion-col class="ion-text-center" size="6" offset="1">
                <div class="ion-text-center" >
                  <ion-input class="roundleft2" [(ngModel)]="reg.task_name" name="task_name" type="text" placeholder="Поиск по ключевым словам"></ion-input>
                </div>
              </ion-col>
              <ion-col class="ion-text-center" size="4">
                <div class="ion-text-center" >  
                  <ion-button class="primary roundright"  shape="round" (click)="searchOrders()">Искать</ion-button>
                </div>
              </ion-col>
      </ion-row>
      
      <ion-row class="">
        <ion-col size="9" offset="1">
          <ion-input type="text" required placeholder="Город, адрес, метро, район" [(ngModel)]="reg.task_address" name="task_address"></ion-input>
        </ion-col>
        <ion-col size="1">
          <ion-icon class="delinp" (click)="cleanTaskaddress()" name="close-outline"></ion-icon>
        </ion-col>
      </ion-row>  
      <ion-row class="">
        <ion-col size="9" offset="1">
          <ion-input type="text" required placeholder="Радиус поиска, км" [(ngModel)]="reg.distance" name="distance"></ion-input>
        </ion-col>
        <ion-col size="1">
          <ion-icon class="delinp" (click)="cleanDistance()" name="close-outline"></ion-icon>
        </ion-col>
      </ion-row>  
      <ion-row class="">
        <ion-col size="9" offset="1">
          <!-- <ion-input type="text" required placeholder="Дата публикации объявления" [(ngModel)]="reg.datecreate" name="datecreate"></ion-input> -->
          <ion-datetime class="rounded" displayFormat="DD.MM.YYYY" dateFormat="DD.MM.YYYY" placeholder="Дата публикации объявления" [(ngModel)]="reg.datecreate" name="datecreate"></ion-datetime>
        </ion-col>
        <ion-col size="1">
          <ion-icon class="delinp" (click)="cleanDate()" name="close-outline"></ion-icon>
        </ion-col>
      </ion-row>  
      <ion-row class="ion-align-self-center">
        <ion-col class="">
          <div class="ion-text-center" >    
            <ion-button class="primary" type="submit" style="width:70%" shape="round" >Сортировать</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
   
    <ion-row >
    <ion-list class="ex3">
      <ion-item *ngFor="let order of orders" [routerLink]="['/tabs/searchorder-detail/', order.taskid]">
    
      <ion-col size="2" offset="1" >
        <div class="ion-text-left">
          <div class="taskdiv" >
            <img class="taskicon ion-text-center" src="https://willdo.com.ua/{{order.catimg}}"><br>
          </div>
          
        </div>
      </ion-col>
      
      <ion-col size="9" >       
        <b class="smalltext" > {{order.task_name}}</b><br>
        <span class="smalltext">{{order.task_address}}</span><br>
        <span class="smalltext">Начать {{order.datestart}} <b>{{order.begin_price}}</b> грн</span><br>
      </ion-col>
      <ion-col size="1">
      </ion-col>
      <hr>
    
    </ion-item>
    </ion-list>
    </ion-row>
  </ion-grid>   
</ion-content>
