<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>regisp</ion-title>
    <ion-buttons slot="end" (click)="gotoSharePage()">
        <i class="fa fa-share-alt wdobtn" style="font-size:22px;"></i>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    
    <ion-row class="ion-align-self-center">
        
        <ion-col class="ion-margin-top">
          
          <div class="ion-text-center" >
            <h1 class="wdotext">Начните зарабатывать прямо сейчас</h1>
            
            
            
          </div>
        </ion-col>
      
    </ion-row>
    <ion-row class="ion-align-items-center">
        <ion-col class="ion-margin-top">
          <img src="./assets/img/ispcat.gif" style="width:100%; position:relative;">
      
        </ion-col>
      
    </ion-row>
    <ion-row class="ion-align-items-center">
        <ion-col class="ion-margin-top">
        <div class="ion-text-center" >
          <ion-button class="primary" style="width:70%" shape="round" (click)="gotoRegIspPage()">Зарегистрироваться</ion-button>
        </div>
        </ion-col>
      
    </ion-row>
</ion-grid>


  
</ion-content>

