<app-backbtn>{{pagename}}</app-backbtn>

<ion-content fullscreen>
  <ion-grid class="ion-margin-top">   
        <ion-row class="ion-margin-top">
          
          <ion-col>
            <div class="ion-text-center">
              <img class="shareicon" src="./assets/img/icons/ukr.png"><br>
              Українська
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-center"> 
             <img class="shareicon" src="./assets/img/icons/eng.png"><br>
              English
            </div> 
          </ion-col>
          <ion-col>
            <div class="ion-text-center">
              <img class="shareicon" src="./assets/img/icons/rus.png"><br>
              Русский
            </div>  
          </ion-col>
          
        </ion-row>
        <ion-row >
          <ion-col>
            <div class="ion-text-center">
              <img class="shareicon" src="./assets/img/icons/pol.png"><br>
              Polski
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-center"> 
             <img class="shareicon" src="./assets/img/icons/yid.png"><br>
              לשון הקדש
            </div> 
          </ion-col>
          <ion-col>
           <div class="ion-text-center"> 
             <img class="shareicon" src="./assets/img/icons/bel.png"><br>
              Беларускі  
            </div> 
          </ion-col>
        </ion-row>
        

        <ion-row class="ion-margin-top">
            <ion-col class="ion-margin-top">
              <div class="ion-text-center" >
                <ion-button class="primary" style="width:70%" shape="round" (click)="alert(333)">Выбрать</ion-button>
              </div>
            </ion-col>
        </ion-row>
  </ion-grid>   
</ion-content>