<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab2">
      <i class="fa fa-heart" style="font-size:18px; margin-left:15px"></i>
      
    </ion-tab-button>

    <ion-tab-button tab="location">
      <i class="fa fa-map-marker" style="font-size:18px;margin-left:10px"></i>
      
    </ion-tab-button>

    <ion-tab-button tab="second">
      <i class="fas fa-crown" style="font-size:34px; margin-bottom: 10px"></i>
      <!-- <ion-icon slot="start" src="assets/img/icons/crown.svg"></ion-icon> -->
      <!-- <ion-icon name="camera-outline"></ion-icon> -->
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <i class="fa fa-gear" style="font-size:18px;margin-right:10px"></i>
      
    </ion-tab-button>

    <ion-tab-button tab="categoryzak">
     
      <i class="fa fa-user" style="font-size:18px;margin-right:15px"></i>
      
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
