<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="chooseworker">
      <!-- <i class="fa fa-heart" style="font-size:18px; margin-left:15px"></i> -->
      <ion-icon class="tabsmall right" src="assets/icon/heart.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="location">
      <!-- <i class="fa fa-map-marker" style="font-size:18px;margin-left:10px"></i> -->
      <ion-icon class="tabsmall " src="assets/icon/location-pin.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="{{ mainpage }}">
      <!-- <i class="fas fa-crown" style="font-size:34px; margin-bottom: 10px"></i> -->
      <ion-icon class="big" src="assets/icon/crown.svg" style=""></ion-icon>
      <!-- <ion-icon slot="start" src="assets/img/icons/crown.svg"></ion-icon> -->
      <!-- <ion-icon name="camera-outline"></ion-icon> -->
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon class="tabsmall " src="assets/icon/settings.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <!-- <app-chaticon></app-chaticon> -->
      <!-- <span class="numinred above"  *ngIf="condition"> {{ colmess }} </span> -->
      <ion-icon class="tabsmall chaticon" src="assets/icon/avatar.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
