<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>


  
        <ion-content>

        <ion-row>
    <ion-col><ion-button color="primary" (click)="takePicture()">Take Picture</ion-button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col><ion-button color="primary" (click)="captureImage()">captureImage</ion-button></ion-col>
  </ion-row>
  <ion-row class="ion-align-self-center">
          <ion-col class="">
            <div class="ion-text-center" >    
              <img style="width:50%" [src]="image">
            </div>
          </ion-col>
        </ion-row>


  <ion-grid>
    <ion-row>
    <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
      <ion-img src="{{ photo.webviewPath }}" (click)="showActionSheet(photo, position)"></ion-img>
    </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="photoService.takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>
