<ion-app>
  <ion-menu side="start" menuId="m1">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/tabs/login" button>
            <ion-icon name="enter-outline" slot="start"></ion-icon>
            <ion-label>Вход</ion-label>
          </ion-item>  
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/tabs/regisp" button>
            <ion-icon name="create-outline" slot="start"></ion-icon>
            <ion-label>Регистрация{{qweer}}</ion-label>
          </ion-item>  
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/tabs/profileisp">
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>Мой профиль</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/tabs/langs">
            <ion-icon name="globe-outline" slot="start"></ion-icon>
            <ion-label>Языки</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/tabs/walletisp">
            <ion-icon name="wallet-outline" slot="start"></ion-icon>
            <ion-label>Кошелек</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/tabs/walletisp">
            <ion-icon name="swap-horizontal-outline" slot="start"></ion-icon>
            <ion-label>Смена статуса</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/tabs/myrating">
            <ion-icon name="star" slot="start"></ion-icon>
            <ion-label>Мой рейтинг</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/tabs/walletisp">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            <ion-label>Мои заказы</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        
      </ion-list>
    </ion-content>
  </ion-menu>
  
  
  <ion-router-outlet main></ion-router-outlet>
  
</ion-app>
