<!--<ion-header>
  <ion-toolbar>
    <ion-title>first123</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  
  <ion-grid>
    <ion-row class="ion-align-items-center">
        <ion-col>
          <img src="./assets/img/enter.gif" style="width:100%">
      
        </ion-col>
      
    </ion-row>
    <ion-row class="ion-align-self-center">
        
        <ion-col >
          
          <div class="ion-text-center" >
            <p>Онлайн сервис вызова специалиста
            для решения любых задач по дому</p>
            <div class="fullheight xc">
              <ion-button shape="round" (click)="gotoSecondPage()">Дальше</ion-button>
            </div>
            
          </div>
        </ion-col>
      
    </ion-row>
</ion-grid>


  
</ion-content>

