<app-backbtn>{{pagename}}</app-backbtn>

<ion-content>
  <ion-row class="ion-align-self-center">
    <ion-col class="ion-margin-top" size="1">
      <span class="numinorang">1</span>
    </ion-col>
    <ion-col class="steptext" size="3">
      <span class="smalltext ">Данные плательщика</span>
    </ion-col>
    <ion-col class="ion-margin-top" size="1">
      <span class="numinorang">2</span>
    </ion-col>
    <ion-col class="steptext" size="2">
      <span class="smalltext ">Данные карты</span>
    </ion-col>
    <ion-col class="ion-margin-top" size="1">
      <span class="numingrey">3</span>
    </ion-col>
    <ion-col class="steptext" size="3">
      <span class="smalltext ">Подтверждение платежа</span>
    </ion-col>
  </ion-row>
<h2>Требуется подключения платежной системы</h2>
</ion-content>
