<app-backbtn>{{pagename}}</app-backbtn>

<ion-content fullscreen>
    <ion-grid class="ion-margin-top">   
          <ion-row class="ion-margin-top ion-text-center">
            <ion-col *ngFor="let usl of category" class="ion-text-center" size="4">             
                <div class="catdiv" style="margin-left:25%"  [routerLink]="['/tabs/choosebyusl/', usl.category_id]" >
                  <img class="caticon ion-text-center" src="https://willdo.com.ua/{{usl.catimg}}"><br>
                </div>
                {{usl.name}}
            </ion-col>
            
          </ion-row>
          
  
          <ion-row class="ion-margin-top">
              <ion-col class="ion-margin-top">
                <div class="ion-text-center" >
                  <ion-button class="primary" style="width:70%" shape="round" (click)="alert(333)">Выбрать</ion-button>
                </div>
              </ion-col>
          </ion-row>
    </ion-grid>   
  </ion-content>
