<app-backbtn>{{pagename}}</app-backbtn>

<ion-content fullscreen (click)="hideCat()">
    <ion-grid class="ion-margin-top">   
          <ion-row class="ion-margin-top ion-text-center">
            <ion-col *ngFor="let usl of category" class="ion-text-center" size="4">             
                <div class="catdiv" style="margin-left:25%"  [routerLink]="['/tabs/choosebyusl/', usl.category_id]" >
                  <img class="caticon ion-text-center" src="https://willdo.com.ua/{{usl.catimg}}"><br>
                </div>
                {{usl.name}}
            </ion-col>
            
          </ion-row>
          
  
          <ion-row class="ion-text-center">
              <ion-col class="ion-text-center">
                <div class="ion-text-center" >
                  
                
                
                  <ion-input class="roundleft" (ionInput)="hideCat()" style="" type="text" placeholder="Что надо сделать?"></ion-input>
                

                 
                 
                </div>
              </ion-col>
              <ion-col class="ion-text-center">
                <div class="ion-text-center" >  
                  <ion-button class="primary roundright"  shape="round" [routerLink]="['/tabs/chooseworker']">  Заказать услугу</ion-button>
                </div>
              </ion-col>
          </ion-row>
              <img [style.display]="show ? 'block' : 'none'" src="./assets/img/catwait.gif" style="width:50%; position:relative;  right: -60%;">
    </ion-grid>   
  </ion-content>
