<app-backbtn>{{pagename}}</app-backbtn>

<ion-content fullscreen>
    <ion-grid class="ion-margin-top">   
          <ion-row class="ion-margin-top">
            <ion-col *ngFor="let usl of category" size="4">
              <div class="ion-text-center">
                <img class="caticon" src="https://willdo.com.ua/{{usl.catimg}}"><br>
                {{usl.name}}
              </div>
            </ion-col>
            
          </ion-row>
          
  
          <ion-row class="ion-margin-top">
              <ion-col class="ion-margin-top">
                <div class="ion-text-center" >
                  <ion-button class="primary" style="width:70%" shape="round" (click)="alert(333)">Выбрать</ion-button>
                </div>
              </ion-col>
          </ion-row>
    </ion-grid>   
  </ion-content>
