ion-content {
    --background: url('../../../assets/img/bg.png') no-repeat center/cover fixed;
  }   
  
ion-button {
  --background: #d24a43;
  width: 50%;
}

ion-row{
  margin-top: 10%;
}

.fullheight {
  height: 100%;
}

.xc {
  display: flex;
  align-items: center;
  justify-content: center;
}