<!--<ion-header>
  <ion-toolbar>
    <ion-title>first123</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  
  <ion-grid>
    
    <ion-row class="">
        
        <ion-col >
          <img src="./assets/img/enterzak.png" (click)="goAnOtherPage(1)" style="width:100%">
        </ion-col>
      
    </ion-row>

    <ion-row class="">
        
        <ion-col >
          <img src="./assets/img/enterisp.png" (click)="goAnOtherPage(2)" style="width:100%">
        </ion-col>
      
    </ion-row>
</ion-grid>


  
</ion-content>

