<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="gotoSharePage()">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    
    <ion-row class="">
        
        <ion-col >
          <img src="./assets/img/enterzak.png" (click)="goAnOtherPage(1)" style="width:100%">
        </ion-col>
      
    </ion-row>

    <ion-row class="">
        
        <ion-col >
          <img src="./assets/img/enterisp.png" (click)="goAnOtherPage(2)" style="width:100%">
        </ion-col>
      
    </ion-row>
</ion-grid>


  
</ion-content>

