<app-backbtn>{{pagename}}</app-backbtn>

<ion-content [fullscreen]="true">
  <ion-grid  class="ion-margin-top">
  <ion-row>
    <ion-col>
      Инструкция по оплате........<br>
      <ion-icon name="card-outline" class="regicon"></ion-icon>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam natus recusandae, sint neque voluptatibus impedit beatae similique velit ipsam delectus dolorem quae adipisci. Odit, accusantium sed reprehenderit ab corrupti quod?
      
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-icon name="cash-outline" class="regicon"></ion-icon>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam natus recusandae, sint neque voluptatibus impedit beatae similique velit ipsam delectus dolorem quae adipisci. Odit, accusantium sed reprehenderit ab corrupti quod?
      
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
