/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~animate.css/animate.min.css';


ion-content {
  --background: url('assets/img/bg.png') no-repeat center/cover fixed;
}   

ion-button {
  --background: #d24a43;
} 

ion-toolbar {
  --background: #e6e6e6;
}

ion-menu-button{
  color:  #e58b1e;
  
}
.wdobtn{
  color:  #e58b1e;
  margin-right: 10px;
}
ion-menu{
  // --background: #e6e6e6;
}
.ion-item-background{
  --background: #e6e6e6;
}

ion-back-button{
  color:  #e58b1e;
}
.wdotext{
  color:  #e58b1e;
}
.shareicon {
  width: 65px;
}
.catdiv{
  width: 70px;
  border: 1px solid grey;
  background-color: white;
  border-radius: 35px;
  text-align: center;
}
.caticon {
  width: 60px;
  padding: 10px;
}
.regicon {
  font-size: 35px!important;
}
ion-input {
  padding-top: 2px!important;
  padding-bottom: 2px!important;
  border-radius: 20px !important;
  padding-left: 20px !important;
  font-size: 0.9em;
  margin-bottom: 5px;
  border: 1px solid #ffffff;
  border-bottom: 0px !important;
  box-shadow: none !important;
  background-color: #ffffff!important;
  //max-height: 30px;
  height: 30px;
}
.txtarea{
  padding-top: 2px!important;
  padding-bottom: 2px!important;
  border-radius: 20px !important;
  padding-left: 20px !important;
  font-size: 0.9em;
  margin-bottom: 5px;
  border: 1px solid #ffffff;
  border-bottom: 0px !important;
  box-shadow: none !important;
  background-color: #ffffff!important;
}
ion-select{
  // border-radius: 20px !important;
  padding-top: 1px!important;
  padding-bottom: 1px!important;
  padding-left: 10px !important;
  font-size: 0.9em;
  margin-bottom: 1px;
  border: 1px solid #ffffff;
  border-bottom: 0px !important;
  box-shadow: none !important;
  background-color: #ffffff!important;
}
.backbtn {
  font-size: 2rem;
}
.roundwhite {
  background-color: white;
  border-radius: 20px;
  width: 45px;
  padding-top: 8px;
}

.frommess{
  background-color: #dddddd;
  border-radius: 20px;
  padding: 10px;
}
.tomess{
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
}
.smalltext{
  font-size: small;
}

.lang.active{
  background-color: #ff8b00;
  padding: 10px;
}
.lang{
  // background-color: #ff8b00;
  padding: 10px;
}
.smalltext{
  font-size: 14px;
}
.delinp{
  color: #d24a43;
  font-size: 30px;
  font-weight: bold;
  float: left;
}
ion-datetime{
  padding-top: 2px!important;
  padding-bottom: 2px!important;
  border-radius: 20px !important;
  padding-left: 20px !important;
  font-size: 0.9em;
  // margin-bottom: 5px;
  border: 1px solid #ffffff;
  // border-bottom: 0px !important;
  // box-shadow: none !important;
  background-color: #ffffff!important;
  //max-height: 30px;
  height: 30px;
}

.timeitem{
  border-radius: 25px !important;
  max-height: 50px;
}
.divcat{
  display: block;
  vertical-align: middle;
}
.caticon2{
  width: 30px;
}
.ml-3{
  margin-left: 20px;
}
.smalltext2{
  font-size: 11px;
}
.swiper-pagination-bullet-active {
    background: #e58b1e;
}
.roundleft{
  border-radius: 20px 0px 0px 20px!important;
  position: fixed;
  left: 18px;
  z-index: 1000;
  width: 51%;
  margin-top: 3px; height: 38px; padding-top: 10px;
}
.roundleft2{
  border-radius: 20px 0px 0px 20px!important;
  position: fixed;
  left: 40px;
  z-index: 1000;
  width: 56%;
  margin-top: 3px; height: 38px; padding-top: 10px;
}
.roundright{
  border-radius: 0px 20px 20px 0px!important;
}
.order-success{
  padding: 7px 0px 0px 10px;
  background-color: #fdfcfa!important;
}
.ordicon-success{
  background-color: #e58b1e;
  border-radius: 22px;
  width: 45px;
  padding: 5px;
  color: white;
}
.order-bad{
  padding: 7px 0px 0px 10px;
  background-color: #b1b1b1!important;
}
.badext{
  color: #f2f1f0;
}
.ordicon-bad{
  background-color: white;
  border-radius: 22px;
  width: 45px;
  padding: 5px;
  color:#b1b1b1;
}
.order-new{
  padding: 7px 0px 0px 10px;
  background-color: #e7ebc8!important;
}
.newtext{
  color: #71764b;
}
.ordicon-new{
  background-color: #71764b;
  border-radius: 22px;
  width: 45px;
  padding: 5px;
  color: white;
}
.order-taken{
  padding: 7px 0px 0px 10px;
  background-color: #f2d9c3!important;
}
.takentext{
  color: #b28f72;
}
.ordicon-taken{
  background-color: #b28f72;
  border-radius: 22px;
  width: 45px;
  padding: 5px;
  color: white;
}
.order-work{
  padding: 7px 0px 0px 10px;
  background-color: #d0dee9!important;
}
.worktext{
  color: #6794cb;
}
.ordicon-work{
  background-color: #6794cb;
  border-radius: 22px;
  width: 45px;
  padding: 5px;
  color: white;
}
.orddata{
  float: right;
}
.fullscreen-bg{
  background-color: #e6e6e2;
}