<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>

    <ion-buttons justify-content-center>
      <ion-back-button defaultHref="tabs/tab1"></ion-back-button> <span class="wdobtn">{{ pagename }}</span>
    </ion-buttons>

    <ion-buttons slot="end" routerLink="/tabs/share">
        <i class="fa fa-share-alt wdobtn" style="font-size:22px;"></i>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="map-wrapper">
    <div id="map_center">
        <i class="fa fa-map-marker" style="font-size:28px;margin-left:15px;color:#d24a43"></i>
    </div>
    <div #map id="map"></div>
  </div>


  <ion-grid>
    
    <ion-row class="ion-align-self-center">
        
        <ion-col>
          
          <div class="ion-text-center" >
            
            
            <ion-button class="primary" style="width:70%" shape="round" (click)="qwer()">Отключить</ion-button>
            
            
          </div>
        </ion-col>
      
    </ion-row>
</ion-grid>
</ion-content>
