.background-image {
    background-image: url('../../assets/img/bg.png');
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

  ion-content {
    --background: url('../../assets/img/bg.png') no-repeat center/cover fixed;
    // background-image: url('../assets/img/bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }    